<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ECDSA</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    </head>

    <body>

        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

        <header>
            <nav class="navbar fixed-top navbar-expand-lg bg-dark navbar-dark">
                <div class="container-fluid">
                  <!-- link to homescreen -->
                  <a class="navbar-brand" href="#">
                    <img src="" alt="">
                    INT3230E
                  </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                              RSA
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="rsa_screen.html">RSA</a></li>
                                <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="rsa_signature.html">RSA Digital Signature</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                              ElGammal
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="elgammal.html">Elgammal</a></li>
                                <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="elgammal_signature.html">Elgammal Digital Signature</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                              Elliptic
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="elliptic.html">ECC</a></li>
                                <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="elliptic_signature.html">ECC Digital Signature</a></li>
                            </ul>
                        </li>

                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                          Fundamentals
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="euclid.html">Euclid algorithm</a></li>
                          <li><a class="dropdown-item" href="primality.html">Primality test</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="other.html">Something else here</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
            </nav>
        </header>

        <main class="pt-5">
            <div class="container">
                <h1 class="text-center mt-5">ECDSA (Elliptic Curve Digital Signature Algorithm)</h1>

                <div class="d-flex justify-content-center my-5">
                    <div class="col">
                      <div class="bg-secondary text-white card">
                        <div class="card-body">
                            <!-- <h2 class="text-center">Primality test</h2> -->
                           <p>The Elliptic Curve Digital Signature Algorithm is a Digital Signature Algorithm (DSA) that uses elliptic curve cryptography keys. It is a very efficient equation that is based on cryptography with public keys. ECDSA is utilized in many security systems, is popular in encrypted messaging apps, and is the foundation of Bitcoin security (with Bitcoin “addresses” serving as public keys).</p>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center my-5">
                    <div class="col">
                      <div class="bg-secondary text-white card">
                        <div class="card-body">
                            <!-- <h2 class="text-center">Primality test</h2> -->
                           <p>Elliptic Curve Digital Signature Algorithms (ECDSA) have recently received significant attention, particularly from standards developers, as alternatives to existing standard cryptosystems such as integer factorization cryptosystems and discrete logarithm problem cryptosystems. In security applications, crypto-algorithms are always the most significant fundamental tool.</p>
                        </div>
                      </div>
                    </div>
                </div>

                <h1 class="text-center mt-5">Example</h1>

                <div class="card-group mt-5">

                    <div class="card">
                        <div class="card-header">
                            <h4>Bob</h4>
                        </div>
                        <div class="card-body">

                            <!-- connect here: id="Elliptic system setting" -->
                            <form id="system1_setting">
                                <div class="mb-3 row">
                                    <label for="primeP1" class="col-sm-2 col-form-label"><i>p</i> =</label>
                                    <div class="col-sm-10">
                                        <!-- connect here: id="p1" -->
                                        <input type="number" class="form-control" id="p1" placeholder="11" required />
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="a1" class="col-sm-2 col-form-label"><i>a</i> =</label>
                                    <div class="col-sm-10">
                                        <!-- connect here: id="a1" -->
                                        <input type="number" class="form-control" id="a1" placeholder="1" required />
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="privateKey1" class="col-sm-2 col-form-label"><i>b</i> =</label>
                                    <div class="col-sm-10">
                                        <!-- connect here: id="b1" -->
                                        <input type="number" class="form-control" id="b1" placeholder="3" required />
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="basePoint1" class="col-sm-2 col-form-label"><i>Gx</i> =</label>
                                    <div class="col-sm-10">
                                        <!-- connect here: id="Gx1" -->
                                        <input type="number" class="form-control" id="Gx1" placeholder="3" required />
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="basePoint1" class="col-sm-2 col-form-label"><i>Gy</i> =</label>
                                    <div class="col-sm-10">
                                        <!-- connect here: id="Gy1" -->
                                        <input type="number" class="form-control" id="Gy1" placeholder="3" required />
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="privateKey1" class="col-sm-2 col-form-label">Private key</label>
                                    <div class="col-sm-10">
                                        <!-- connect here: id="privateKey1" -->
                                        <input type="number" class="form-control" id="privateKey1" placeholder="3" required />
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="message1" class="col-sm-2 col-form-label">Message:</label>
                                    <div class="col-sm-10">
                                        <!-- connect here: id="message1" -->
                                        <input type="text" class="form-control" id="message1" placeholder="Hello Alice" required />
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="signature1" class="col-sm-2 col-form-label">Signature</label>
                                    <div class="col-sm-10">
                                        <!-- connect here: id="signature1" -->
                                        <input type="text" class="form-control" id="signature1" placeholder="Bob" required />
                                    </div>
                                </div>


                                <div class="d-flex justify-content-begin">
                                    <!-- connect here: handle form submission -->
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>                            
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h4>Alice</h4>
                        </div>
                        <div class="card-body">

                            <!-- connect here: id="Elliptic system setting" -->
                            <form id="system2_setting">
                                <div class="mb-3 row">
                                    <label for="primeP2" class="col-sm-2 col-form-label"><i>p</i> =</label>
                                    <div class="col-sm-10">
                                        <!-- connect here: id="p2" -->
                                        <input type="number" class="form-control" id="p2" placeholder="11" required />
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="a2" class="col-sm-2 col-form-label"><i>a</i> =</label>
                                    <div class="col-sm-10">
                                        <!-- connect here: id="a2" -->
                                        <input type="number" class="form-control" id="a2" placeholder="1" required />
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="b2" class="col-sm-2 col-form-label"><i>b</i> =</label>
                                    <div class="col-sm-10">
                                        <!-- connect here: id="b2" -->
                                        <input type="number" class="form-control" id="b2" placeholder="3" required />
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="basePoint2" class="col-sm-2 col-form-label"><i>Gx</i> =</label>
                                    <div class="col-sm-10">
                                        <!-- connect here: id="Gx2" -->
                                        <input type="number" class="form-control" id="Gx2" placeholder="3" required />
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="basePoint2" class="col-sm-2 col-form-label"><i>Gy</i> =</label>
                                    <div class="col-sm-10">
                                        <!-- connect here: id="Gy2" -->
                                        <input type="number" class="form-control" id="Gy2" placeholder="3" required />
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="privateKey2" class="col-sm-2 col-form-label">Private key</label>
                                    <div class="col-sm-10">
                                        <!-- connect here: id="privateKey2" -->
                                        <input type="number" class="form-control" id="privateKey2" placeholder="3" required />
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="message2" class="col-sm-2 col-form-label">Message:</label>
                                    <div class="col-sm-10">
                                        <!-- connect here: id="message2" -->
                                        <input type="text" class="form-control" id="message2" placeholder="Hello Bob" required />
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="signature2" class="col-sm-2 col-form-label">Signature</label>
                                    <div class="col-sm-10">
                                        <!-- connect here: id="signature2" -->
                                        <input type="text" class="form-control" id="signature2" placeholder="Alice" required />
                                    </div>
                                </div>


                                <div class="d-flex justify-content-begin">
                                    <!-- connect here: handle form submission -->
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>                            
                        </div>
                    </div>
                </div>

                <!-- From Bob to Alice  -->
                <div class="card my-5">
                    <div class="card-header">
                        <h4>From: Bob, to: Alice</h4>
                    </div>
                    <div class="card-body">
                        <h6 class="fw-bold">&rArr; Sending & Receving Process:</h6>
                        <div class="card-group mt-3">

                            <div class="card">
                                <div class="card-header">
                                    <h5 class="text-center">Sender</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Bob sends the message to Alice.</p>
                                    <!-- conect here: id="signature1" -->
                                    <p class="card-text">Sender: <span id="signature1">Bob</span></p>
                                    <!-- connect here: id="message1" -->
                                    <p class="card-text">Message: <span id="message1">Hello Alice</span></p>
                                    <!-- connect here: id="hashed_signature1" -->
                                    <p class="card-text">Hashed signature: <span id="hashed_signature1">?</span></p>
                                    <!-- connect here: id="hashed_message1" -->
                                    <p class="card-text">Hashed message: <span id="hashed_message1">?</span></p>
                                    <!-- connect here: id="encrypted_signature1" -->
                                    <p class="card-text">Encrypted signature: <span id="encrypted_signature1">?</span></p>
                                    <!-- connect here: id="encrypted_message1" -->
                                    <p class="card-text">Encrypted message: <span id="encrypted_message1">?</span></p>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <h5 class="text-center">Receiver</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Alice receives the message from Bob.</p>
                                    <!-- connect here: id="signature2" -->
                                    <p class="card-text">Receiver: <span id="signature2">Alice</span></p>
                                    <!-- connect here: id="signature_authentication1" -->
                                    <p class="card-text">Signature authentication: <span id="signature_authentication1">Invalid</span></p>
                                    <!-- connect here: id="decrypted_message1" -->
                                    <p class="card-text">Decrypt message: <span id="decrypted_message1">?</span></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                
                <!-- From Alice to Bob  -->
                <div class="card my-5">
                    <div class="card-header">
                        <h4>From: Alice, to: Bob</h4>
                    </div>
                    <div class="card-body">
                        <h6 class="fw-bold">&rArr; Sending & Receving Process:</h6>
                        <div class="card-group">
                                
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="text-center">Sender</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Alice sends the message to Bob.</p>
                                    <!-- conect here: id="signature2" -->
                                    <p class="card-text">Sender: <span id="signature2">Alice</span></p>
                                    <!-- connect here: id="message2" -->
                                    <p class="card-text">Message: <span id="message2">Hello Bob</span></p>
                                    <!-- connect here: id="hashed_signature2" -->
                                    <p class="card-text">Hashed signature: <span id="hashed_signature2">?</span></p>
                                    <!-- connect here: id="hashed_message2" -->
                                    <p class="card-text">Hashed message: <span id="hashed_message2">?</span></p>
                                    <!-- connect here: id="encrypted_signature2" -->
                                    <p class="card-text">Encrypted signature: <span id="encrypted_signature2">?</span></p>
                                    <!-- connect here: id="encrypted_message2" -->
                                    <p class="card-text">Encrypted message: <span id="encrypted_message2">?</span></p>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <h5 class="text-center">Receiver</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Bob receives the message from Alice.</p>
                                    <!-- connect here: id="signature1" -->
                                    <p class="card-text">Receiver: <span id="signature1">Bob</span></p>
                                    <!-- connect here: id="signature_authentication2" -->
                                    <p class="card-text">Signature Authentication: <span id="signature_authentication2">Invalid</span></p>
                                    <!-- connect here: id="decrypted_message2" -->
                                    <p class="card-text">Decrypt message: <span id="decrypted_message2">?</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="text-center mt-auto py-3 text-white bg-dark fixed-bottom">
            <div class="text-center p-0.5">
              INT3230E - Cryptography & Information Security: Nguyễn Hữu Thế & Hoàng Kim Chi
            </div>
        </footer>
    </body>

</html>