<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <!-- link to homescreen -->
    <a class="navbar-brand" href="homescreen.html">
      <img src="" alt="">
      INT3230E
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
              RSA
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/">RSA</a></li>
                <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/rsa-signature">RSA Digital Signature</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
              ElGammal
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/elgammal">Elgammal</a></li>
                <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/elgammal-signature">Elgammal Digital Signature</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
              Elliptic
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/elliptic">ECC</a></li>
                <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/elliptic-signature">ECC Digital Signature</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
            Fundamentals
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/euclid">Euclid algorithm</a></li>
            <li><a class="dropdown-item" href="/primality">Primality test</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="other.html">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="homescreen.html">
      <img src="" alt="">
      INT3230E
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="homescreen.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="rsa_screen.html">RSA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ElGammal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Eliptic</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
            Fundamentals
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Euclid algorithm</a></li>
            <li><a class="dropdown-item" href="#">Primality test</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> -->