<!DOCTYPE html>
<html>
    <head>
        <title>navbars</title>
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    </head>
    <body>
        <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">

              <!-- link to homescreen -->
              <a class="navbar-brand" href="#">
                <img src="" alt="">
                INT3230E</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <!-- link to homescreen -->
                    <a class="nav-link" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <!-- link to rsa -->
                    <a class="nav-link" href="#">RSA</a>
                  </li>

                  <li class="nav-item">
                    <!-- link to elgammal -->
                    <a class="nav-link" href="#">ElGammal</a>
                  </li>

                  <li class="nav-item">
                    <!-- link to eliptic -->
                    <a class="nav-link" href="#">Eliptic</a>
                  </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                      Fundamentals
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Euclid algorithm</a></li>
                      <li><a class="dropdown-item" href="#">Primality test</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                  </li> -->
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
    </body>
</html>